body{
    background-image: url(https://www.publicdomainpictures.net/pictures/130000/velka/abstract-wallpaper-1442844611tgq.jpg);
    background-size: cover;
    color: whitesmoke;
}

h1{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}

.main{
    text-align: center;
    margin-top: 100px;
}

.corpo img{
    width: 40px;       
}

.corpo input{
    vertical-align: top;
    height: 40px;
    padding-left: -100px;
    width: auto;
}
.corpo textarea{
    height: 45px;
    width: 20%;
    height: 80px;
}

.choice input{
    vertical-align: middle;
}