body{
    background-image: url(https://www.publicdomainpictures.net/pictures/130000/velka/abstract-wallpaper-1442844611tgq.jpg);
    background-size: cover;
    color: whitesmoke;
}

h1{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}
.main div{
    text-align: center;
    display: flex;
    margin-left: 35%;
    margin-bottom: 10px;
}

.nome{
    text-align: center;
}

.nome input{
    width: 50%;
    border: none;
    border-radius: 10px;
}

.sexo img{
    padding: none;
}

.sexo{
    text-align: center;
}

.sexo input{
    width: 50%;
    border: none;
    border-radius: 10px;
}

.sexo img{
    padding: none;
}

.numero{
    display: flex;
    margin-left: 35%;
}

.numero input{
    width: 50%;
    border: none;
    border-radius: 10px;

}

.numero img{
    padding: none;

}

.email{
    display: flex;
}

.email input{
    width: 50%;
    border: none;
    border-radius: 10px;
}

.email img{
    padding: none;
}

.senha{
    display: flex;
}

.senha input{
    width: 50%;
    border: none;
    border-radius: 10px;
}

.senha img{
    padding: none;
}
.observação{
    text-align: center;
}

.observação textarea{
    width: 50%;
    border: none;
    border-radius: 10px;
    height: 100px;
}
.observação{
    padding: 10px;
}

button{
    width: 25%;
    height: 37px;
    background-color: whitesmoke;
    border: none;
    margin-left: 43%;
}

button:hover{
    background-color: rgba(36, 34, 211, 0.459);
    color: white;
}